repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        exclude: '.*/migrations/.*'

  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: [
          "--max-line-length=88",
          "--extend-ignore=E203,W503,E501",
        ]
        exclude: '.*/migrations/.*'

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        exclude: '.*/migrations/.*'

  - repo: local
    hooks:
      - id: no-print
        name: Disallow print() statements
        entry: bash -c 'for f; do grep -nH -E "(^|[^A-Za-z0-9_])print[[:space:]]*\(" "$f" && exit 1 || true; done'
        language: system
        files: \.py$
        exclude: '.*/migrations/.*'
